.image_1{
  background: url("../img/mobile_img/first_block.jpg") 0 0/cover no-repeat;
  margin-bottom: 70px;
}
.image{
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 90vw;
}
@media screen and (min-width: $md){
  .image{
    min-width: 700px;
    min-height: 380px;
    width: 100%;
    height: 50vw;
  }
  .image_1{
    margin-bottom: 87px;
    background: url("../img/tablet_img/first_block.jpg")0 0/cover no-repeat;
  }
}
@media screen and (min-width: $lg){
  .image{
    width: 1170px;
    height: 500px;
  }
  .image_1{
    background: url("../img/desktop_img/first_block.jpg");
}
}
