/**********  Fonts  **********/
$font-primary:      'Lato', sans-serif;
$font-secondary:    'Red Hat Display', sans-serif;
$font-size-default: 16px;
/********* Colors ***********/
$primary:         #565656;
$black-default:   #000000;
/********  Widths ***********/
$width: 1440px;
$content-width: 1170px;
/********  Breakpoints ******/
$lg: 1440px;
$md: 768px;
